/*----------Ресет----------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

$primary-color: #202846;
$bg-btn-color: #202846;
$white-color-text: #fff;
$descr-color-text: #202846;
$darken-white-color: #F2EEEE;
$black-color: #000;
$title-color: #C1C1D6;
$title-color-text: #353C57;

$font-main: 'Radio Canada', sans-serif;
$font-PT: 'PT Sans', sans-serif;

%btn {
    font-family: $font-main;
    color: $white-color-text;
    font-size: 22px;
    font-weight: 400;
    background-color: $bg-btn-color;
    border-radius: 50px;
    padding: 0 25px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lighten($primary-color, 68);
    position: relative;
}

.header {
    background-color: $primary-color;
}

.container {
    width: 100%;
    max-width: 1485px;
    padding: 0 10px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    height: 90px;

    .logo {
        width: 179px;
        height: 70px;
        margin-right: auto;
        border-radius: 50px;
        overflow: hidden;

        img {
            width: 179px;
            height: 70px;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        margin-right: 25px;

        .menu-item {
            display: flex;
            text-align: center;
            position: relative;
            height: 60px;
            cursor: pointer;

            .menu-link {
                padding: 0 25px;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: $white-color-text;
                font-family: $font-main;
                line-height: 23px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

            }

            &::before {
                content: '';
                display: block;
                width: 3px;
                height: 100%;
                background-color: $white-color-text;
                position: absolute;
                left: 0;
            }

            &:last-child::after {
                content: '';
                display: block;
                width: 3px;
                height: 100%;
                background-color: #fff;
                position: absolute;
                right: 0;
            }

            &:hover {
                background-color: lighten($primary-color, 13) !important;
            }

            &.menu-item-active {
                background-color: lighten($primary-color, 8);
            }
        }
    }

    .lang {
        display: flex;
        align-items: center;
        position: relative;

        .lang-icon {
            width: 70px;
            height: 70px;
            cursor: pointer;

            &:active {
                transform: scale(.9);
                border: 2px solid lighten($primary-color, 20);
                border-radius: 50%;
            }
        }

        .lang-now {
            font-family: $font-main;
            font-size: 24px;
            font-weight: bold;
            color: $white-color-text;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            height: fit-content;
            overflow: hidden;
            cursor: pointer;

            &:active {
                transform: scale(.9);
            }
        }

        .lang-list {
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease;
            position: absolute;
            right: -8px;
            bottom: -80px;
            background-color: $primary-color;
            border: 1px solid darken($primary-color, 30);
            z-index: 10;

            .lang-list-item {
                .lang-list-link {
                    padding: 6px;
                    font-family: $font-main;
                    font-size: 24px;
                    font-weight: 400;
                    color: $white-color-text;
                    text-transform: uppercase;
                    display: block;

                    &:hover {
                        background-color: lighten($primary-color, 10);
                    }
                }
            }

            &._active-lang-list {
                visibility: visible;
                opacity: 1;
                bottom: -90px;
            }
        }
    }
}

// меін ----------------------------
.welcome-inner {
    margin-top: 52px;
    margin-bottom: 52px;
    position: relative;
    height: 370px;

    .welcome-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
        font-weight: bold;
        color: $white-color-text;
        width: 100%;
        height: 100%;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        .welcome-title {
            font-size: 70px;
            margin-bottom: 30px;
        }

        .welcome-subtitle {
            font-size: 45px;
        }
    }

    .welcome-image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

.slider-items {
    position: relative;
    margin-bottom: 50px;

    .slick-prev {
        font-size: 0;
        background-image: url(../images/arrow2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        width: 50px;
        height: 100px;
        position: absolute;
        left: 20px;
        top: 50%;
        z-index: 2;
        transform: rotate(180deg) translateY(50%);

    }

    .slick-next {
        font-size: 0;
        background-image: url(../images/arrow2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        width: 50px;
        height: 100px;
        position: absolute;
        right: 20px;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
    }

    .slick-dots {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li button {
            margin: 0 6px;
            width: 20px;
            height: 20px;
            font-size: 0;
            border-radius: 50%;
            background-color: #215023;

            &:hover {
                background-color: #7a8844;
            }
        }

        .slick-active button {
            background-color: #A5BB4F;
        }
    }

    .slider-inner {
        height: 605px;
        position: relative;

        .slider-descr {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba($color: #F6EBDA, $alpha: 0.7);
            width: 1164px;
            height: 167px;
            margin-top: auto;
            padding: 0 20px;
            display: flex;
            flex-direction: column;

            .slider-text {
                margin: auto;
                font-family: $font-main;
                font-size: 22px;
                font-style: italic;
                line-height: 26px;
                color: $descr-color-text;
            }

            .slider-btn {
                position: absolute;
                right: 0;
                top: -34px;
                height: 68px;
                line-height: 68px;
                display: flex;
                align-items: center;
                @extend %btn;

                &::after {
                    content: '';
                    background-image: url(../images/arrow1.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-left: 20px;
                }

                &:hover {
                    background-color: lighten($primary-color, 13);
                }
            }
        }

        .slider-image {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            object-fit: cover;
        }
    }
}

.cont-plus-inner {
    background-color: lighten($primary-color, 62);
    display: flex;
    align-items: center;
    height: 410px;
    justify-content: center;
    padding: 0 15px;
    margin-bottom: 50px;

    .cont-plus-image {
        height: 350px;
        width: 700px;
        margin-right: 15px;
    }

    .cont-plus-text {
        background-color: #DFDFDF;
        height: 350px;
        width: 630px;
        color: $descr-color-text;
        font-size: 22px;
        font-family: $font-main;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 50px;
        text-align: center;
        line-height: 32px;
    }
}

.form-callback {
    margin: 0 auto;
    width: fit-content;
    border: 2px solid rgba(lighten($primary-color, 55), $alpha: 0.6);
    width: 520px;
    height: 500px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    position: relative;
    background-color: $darken-white-color;

    &-title {
        font-family: $font-main;
        text-align: center;
        font-size: 33px;
        color: #414141;
        margin-bottom: 45px;
    }

    &-label {
        display: inline-block;
        font-size: 28px;
        color: #323236;
        font-family: $font-main;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &-text {
        width: 100%;
        height: 60px;
        margin-bottom: 5px;
        border: 2px solid lighten($bg-btn-color, 65);
        padding: 0 15px;
        font-size: 20px;
        font-family: $font-main;
        position: relative;

        &:focus {
            border: 2px solid lighten($bg-btn-color, 45);
        }

        &:focus::placeholder {
            font-size: 0;
        }

        &::placeholder {
            font-family: $font-main;
        }
    }

    &-error {
        display: block;
        height: 15px;
        color: red;
        margin-bottom: 15px;
        font-family: $font-main;
    }

    // #teleph {
    //     margin-bottom: 150px;
    // }

    &-button {
        background-color: lighten($bg-btn-color, $amount: 15);
        height: 100px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        color: $white-color-text;
        font-family: $font-main;
        font-size: 32px;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
            background-color: lighten($bg-btn-color, $amount: 20);
        }
    }


}

// ебаут ---------------------------------
.title-all {
    background-color: $title-color;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-PT;
    font-style: italic;
    color: $descr-color-text;
}

.title-all h2:first-child {
    width: 78%;
    max-width: 100%;
    font-size: 48px;
}

.about-top {
    background-image: url(../images/Rectangle39.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 227px;
    color: $white-color-text;
    font-family: $font-PT;
    text-align: center;
    padding: 50px 160px;
    margin: 25px 0;

    &-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
    }

    &-descr {
        font-size: 36px;
        font-weight: 700;
        font-style: italic;
    }
}

.about-body {
    background-color: lighten($primary-color, 62);
    font-family: $font-PT;
    font-weight: 400;
    font-size: 30px;
    padding: 60px 70px;
    margin-bottom: 25px;

    &-text {
        margin-bottom: 50px;
    }

    &-text:last-child {
        margin-bottom: 0;
    }
}

// бронювання ---------------------------------
.reserve-wrap {
    padding: 0 50px;
}

// .cityes {
//     width: 100%;
//     height: 73px;
//     margin-top: 55px;
//     text-align: center;
//     cursor: pointer;
//     appearance: none;
//     // webkitAppearance: none;

//     .first {
//         color: red;
//         font-size: 17px;
//         text-align: center;
//     }
// }

.custom-select-wrapper {
    position: relative;
    width: 100%;
    height: 73px;
    margin-top: 55px;
}

/* Ховаємо стандартний select */
.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    user-select: none;
    height: 100%;
}

.custom-select__trigger {
    font-family: $font-PT;
    font-size: 28px;
    color: lighten($black-color, 20);
    padding: 8px;
    // border: 2px solid #007bff;
    // border-radius: 8px;
    background: #fff;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-options {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    margin-top: 4px;
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
}

.custom-options li {
    // padding: 8px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: lighten($black-color, 67);
    font-family: $font-PT;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: lighten($black-color, 17);
}

.custom-options li:hover {
    background-color: lighten($black-color, 50);
    color: #000;
}

.custom-select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-select-arrow.rotate {
    transform: rotate(180deg) translateY(50%);

}

.custom-options.show {
    display: block;
}

// резерв-айтемс -------------
.reserve-items {
    margin-top: 55px;

    .reserve-item {
        background-color: lighten($primary-color, 60);
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 36px;
        position: relative;

        .reserve-image-wrap {
            width: 485px;
            height: 245px;
            margin: 0 10px;

            // flex: 1 0 auto;
            .reserve-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .reserve-info {
            width: 712px;
            padding: 0 10px;
            position: relative;

            .reserve-info-title {
                font-family: $font-PT;
                font-size: 36px;
                font-weight: bold;
                font-style: italic;
                color: $title-color-text;
                margin-bottom: 10px;
            }

            .reserve-info-title::after {
                content: '';
                display: block;
                background-color: #fff;
                height: 3px;
                margin-top: 7px;
            }

            .reserve-info-text {
                background-color: darken($darken-white-color, 9);
                padding: 25px;
                height: 184px;
                font-family: $font-PT;
                font-size: 22px;
                color: $primary-color;
                text-align: center;
                line-height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .reserve-info-btn {
            position: absolute;
            right: -50px;
            bottom: 10px;
            width: 200px;
            height: 60px;
            background-color: $bg-btn-color;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-family: $font-PT;
            font-weight: 400;
            font-size: 24px;
        }

        .reserve-info-btn:hover {
            background-color: lighten($bg-btn-color, 8);
        }

        .reserve-info-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-image: url(../images/emojione_star.png);
            background-position: center;
        }

        .reserve-info-icon.active {
            background-image: url(../images/Frame1.png);
        }
    }
}

// футер ---------------------------------

.footer {
    flex: 0 0 auto;
    background-color: $primary-color;
    margin-top: auto;
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    width: 100%;

    .footer-copy {
        font-family: $font-main;
        font-size: 28px;
        color: #EEECF1;
        font-style: italic;
    }
}

// стрілка вгору --------------------------------------------- 
.arrow-wrap {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    position: fixed;
    bottom: 140px;
    right: 50px;
    cursor: pointer;
    background-color: lighten($black-color, 50);
    transition: .5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    &:hover {
        opacity: 1 !important;
    }

    .arrow-icon {
        width: 30%;
        margin: auto;
    }
}

/* Модальне вікно */
.modal {
    display: none;
    /* приховане за замовчуванням */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* чорний фон */
}

/* Контейнер модального вікна */
.modal-content {
    background: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

/* Кнопка закриття */
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.star-link {
    font-size: 35px !important;
    background-color: transparent;
    // border: 1px solid gold;
}

#favorites {
    font-family: $font-PT;
}

#favorites .reserve-item {
    display: flex !important;
    border: 1px solid gold;
}

#favorites .reserve-image-wrap{
    // padding: 30px;
    width: 300px;
}

#favorites .reserve-image-wrap .reserve-image{
    width: 300px;
    padding: 20px;
}

#favorites .reserve-info{
    padding: 20px;
}

#favorites .reserve-info-btn{
    position: absolute;
}